.table-thead{
    display: flex;
    flex-direction: row;
    border: 1px solid red;
}

.table-th{
    display: flex;
    flex: auto; /* mechanizm flex, grow proportion 1 */
    font-weight:bold;
    border: 1px solid red;
    background-color: #C1DFF0;
}

.table-row{
    display: flex;
    flex-direction: row;
    transition: background-color 1s;
    background-color: #C1DFF0;
}

.table-row:hover {
    background-color: #a6c1d2;
    font-weight: bold;
}

.table-td {
    text-align: left;
    border: 1px solid yellow;
}

.student-table-container {
    margin: 5px;
    border: 1px solid #A5D6F1;

    display: flex;
    flex-direction: column;
}

.student-table-header {
    margin: 5px 0;

    font-size: 18px;
    font-weight: bold;

    display: flex;
}

.student-table {

}

/*#################### TUTAJ PRACOWALISMY NA TABELI <table> ############################# */
table {
    border-top: 1px solid #2D848A;
    width: 100%;
}

.table-header-row {
    background-color: #2D848A;
}

thead {
    padding: 0 2px;
}

tr {
    background-color: #C1DFF0;
    transition: background-color 1s;
}

tr:hover {
    background-color: #a6c1d2;
    font-weight: bold;
}

th {
    border: 1px solid red;
}

td {
    text-align: left;
    border: 1px solid yellow;
}
