html {
  background-color: #3587A4;
}

.App {
  text-align: center;
  overflow: auto;
}

.header {
  background-color: #c1dff0;
  border-top: 0;
  border-left: 2px solid #3587A4;
  border-right: 2px solid #3587A4;
  border-bottom: 1px solid #3587A4;
  margin: auto; /*dodatkowy obszar który jest dodawany na zewnątrz granicy/border line */
  width: 60vw; /*60 % view width szerokości obszaru widzianego*/

  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-app-name {
  vertical-align: center;
}

.header-icon {
  height: 48px;

  /*to dodatkowy obszar dodany 'wenątrz obiektu' / wewnątrz border line */
  /*padding: 0;*/
  /*padding: 2px; !*wszędzie taki sam*!*/
  /*padding: 10px 2px; !* padding top/bottom left/right*!*/
  padding: 4px 6px 2px 6px; /* padding top/right/bottom/left */

  /*poza tym możecie użyć poszzególnych kierunków:*/
  /*padding-top: 4px;*/
  /*padding-right: 6px;*/
  /*padding-bottom: 2px;*/
  /*padding-left: 6px;*/

  display: flex;
}

.content {
  background-color: #88ccf1;
  margin: 5px auto;
  width: 60vw;

  border: 1px solid black;
}

.student-table-container {
  margin: 5px;
  border: 1px solid #A5D6F1;

  display: flex;
  flex-direction: column;
}

.student-table-header {
  margin: 5px 0;

  font-size: 18px;
  font-weight: bold;

  display: flex;
}

.student-table {

}

table {
  border-top: 1px solid #2D848A;
  width: 100%;
}

.table-header-row {
  background-color: #2D848A;
}

thead {
  padding: 0 2px;
}

tr {
  background-color: #C1DFF0;
  transition: background-color 1s;
}

tr:hover {
  background-color: #a6c1d2;
  font-weight: bold;
}

th {
  border: 1px solid red;
}

td {
  text-align: left;
  border: 1px solid yellow;
}